p{
    color: #f4ffef;
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

/*animation called "fadein" */
@keyframes fadein {
    0% {
            opacity: 0;
         }
    100%   {
            opacity: 1;
            transform: translateY(0);
         }
}

/*animation called "fadein" for other browsers*/
@-webkit-keyframes fadein {
    0% {
            opacity: 0;
         }
    100%   {
            opacity: 1;
            transform: translateY(0);
         }
}



#map {
    height: 200px;
    width: 200px;
    position: relative;
}
#signout_button{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100px;
    height: 35px;

}

#calendarQuestion{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
#content{
    position: absolute;
    top: 100px;
    left: 0;
    width: 300px;
    height: 200px;
    color: bisque;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

}

#mapTimeWeather{
    position: absolute;
    right: 0;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

}

#timeHeader{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: xx-large;
    color: #feffe1;
    text-align: center;
    animation-name: fadein;
    animation-duration: 3s;
    -webkit-animation: fadein 5s linear forwards;

}

#travelTime {
    font-size: 20px;
    color: #f4ffef;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    width: 300px;
    float: right;
    clear: right;
}

#weather{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    width: 300px;
    font-size: large;
    color: floralwhite;

}
#weatherIcon{
    width: 35px;
    height: 40px;
    transform: rotate(10deg);
    position: relative;
    bottom: 45px;
    left: 100px;
}