body {
        background-color: #000000;
        font-family: 'Roboto', sans-serif;
}

p{
    color: #f4ffef;
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

#map {
    height: 200px;
    width: 200px;
    position: relative;
}
#signout_button{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100px;
    height: 35px;

}
#content{
    position: absolute;
    top: 100px;
    left: 0;
    width: 300px;
    height: 200px;
    color: bisque;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;

}

#mapTimeWeather{
    position: absolute;
    right: 0;
}
#txt{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

#travelTime {
    font-size: 20px;
    color: #f4ffef;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    width: 300px;
    float: right;
    clear: right;
}

#weather{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    width: 300px;
    font-size: large;
    color: floralwhite;

}
#weatherIcon{
    width: 35px;
    height: 40px;
    transform: rotate(10deg);
    position: relative;
    bottom: 45px;
    left: 100px;
}