<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="mycss.css">
<head>
    <meta http-equiv="refresh" content="30">

    <meta charset="utf-8">

    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmkQfrL8JO0dqYwqjxGEi_Gklu-kRQs5o&callback=initMap">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


</head>
<style>
    body {
        background-color: #494848;
        font-family: 'Karla', serif;
    }


</style>

<body>

<div id="weather"></div>
<div id="txt"></div>
<div id="map"></div>

<div class="w3-container"></div>



<!--Add buttons to initiate auth sequence and sign out-->
<button class="w3-button w3-black w3-round-xlarge" id="authorize_button" style="display: none;">Authorize</button>
<button class="w3-button w3-black w3-round-xlarge" id="signout_button" style="display: none;">Sign Out</button>

<p>What's on your Google Calendar?</p>
<pre id="content" style="white-space: pre-wrap;"></pre>

<script src="time.js"></script>
<script src="calendar.js"></script>
<script src="map.js"></script>
<script src="weather.js"></script>

<img id="weatherIcon" src=""/>

<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>




</body>
</html>